# Python
__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/
.pytest_cache/
.coverage
htmlcov/

# dbt
target/
dbt_packages/
logs/

# Spark
spark-warehouse/
metastore_db/
derby.log

# Docker
.env

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Data
*.csv
*.parquet
!sample_*.csv
